<div class="right">
<i class="{{ icon }} icon" data-position="top center" data-content="
                                    ביקור אחרון
מ{{ loginFrom }}
                                    בתאריך
{{ date }}
                                    בשעה
{{ time }}"></i>
</div>
