<select>
    <option>בחרו</option>
    <option value="today">היום</option>
    <option value="week_t">שבוע נוכחי</option>
    <option value="month_t">חודש נוכחי</option>
    <option value="quarter_t">רבעון נוכחי</option>
    <option value="year_t">שנה נוכחית</option>
    <option value="week_n">שבוע הבא</option>
    <option value="month_n">חודש הבא</option>
    <option value="quarter_n">רבעון הבא</option>
    <option value="year_n">שנה הבאה</option>
    <option value="week_p">שבוע קודם</option>
    <option value="month_p">חודש קודם</option>
    <option value="quarter_p">רבעון קודם</option>
    <option value="year_p">שנה קודמת</option>
</select>